button{
    background: darkcyan;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    width: 200px;
    cursor: pointer;
    transform: skew(-21deg);
}
span{
    display: inline-block;
    transform:skew(21deg);
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: green;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover{
    color: #fff;

}

button:hover::before{
    left: 0;
    right: 0%;
    opacity: 1;
}